<div id="wrapper">
<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <h1 class="major">New Order</h1>
        <p>
            This page will be used to add new orders into the database
        </p>
    </div>
</section>
<!-- New Product Form -->
    <div class="field half">
    <form action="/customers/select">
    <input type="submit" value="Select A Customer" />
    </form>
    <form action="/orders" method="POST">
        <% if @customer %>
            <label>Customer Selected: <%= @customer.customer_name %></label>
            <label>Product ID:</label>
            <input type="text" name="order[product_id]" id="product_id">
            <button>Submit</button>
        <% else %>
        <% end %>
        </form>
    </div>

