<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakery App</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://kit.fontawesome.com/698878cf66.js" crossorigin="anonymous"></script>

</head>

<body>
    <header id="header">
        <a href="/" class="title">Bakery</a>
        <nav>
            <ul>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>
    </header>   
    <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
          <%= flash[type] %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>    
    <%= yield %>
    <footer>

    </footer>
</body>

</html>